In [1]:
#installing Selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\users\amrit\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\amrit\anaconda3\lib\site-packages (from selenium) (1.25.8)

Q1.You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
search_job = driver.find_element_by_id ('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc = driver.find_element_by_xpath ("//input[@id = 'qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [1]:
search_btn = driver.find_element_by_xpath("//div[@class ='search-btn']/button")
search_btn.click()

NameError: name 'driver' is not defined

In [7]:
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [8]:
# lets open the page through web driver
driver.get(url)

In [32]:
job_titles = []
job_location = []
company_names = []
experience_reqd =[]

In [33]:
#lets extract job titles
titles_tags = driver.find_elements_by_xpath ("//a[@class = 'title fw500 ellipsis']")
titles_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="a7d1b184-de11-4194-b90f-ad08bc4f89b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="b2e8b184-778f-4684-b1e1-113f090a58b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="0c08a127-4e43-4be9-92fe-d5520a1dc7a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="6dbddd2b-ae94-4060-9aeb-7a85f2b5fcfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="c8538e25-a4b9-4e4b-a501-c4af9f452047")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="045585ba-40b7-47c5-ab9b-931c763fe402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="2379e8de-3680-4e58-a6cd-3e84f295c8cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="ec9d7371-b5fc-4170-bdd0-38d6df2dee45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="6d0d6e83-4e86-4ad5-b15d-be5f8ab06dda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="4a37f8b8-6078-4c55-b829-ebe89f6905cb")>]

In [34]:
for i in  titles_tags:
    title = i.text
    job_titles.append(title)
job_titles [0:10]

['Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist/ Analyst',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Principal Data Scientist - Machine/Deep Learning - NLP/Tensorflow',
 'Data Scientist || Data Analyst || Data science',
 'Data Scientist/Senior Data Scientist',
 'Data Scientist - Advanced Analytics',
 'Data Scientist',
 'Senior Data Scientist, , Data Science']

In [35]:
#lets extract job locations
locations_tags = driver.find_elements_by_xpath ("//li[@class = 'fleft grey-text br2 placeHolderLi location']")
locations_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="86c61c5b-0a00-49aa-9879-610d8c9d8f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="61953eff-25b6-4ea8-8b74-b29e4eb73677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="04df7529-c154-4482-a54e-77e289611cad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="782eac00-e649-4ad1-9101-7c0b19225fa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="0db78d44-d639-413c-a922-7e28dbeb89ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="32138885-8299-40a2-a0d2-6ff63fdbac39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="47e85252-fc93-4f8f-a0c7-5649051cd66d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="7168b53d-76b5-44b6-9155-fcfaa208df43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="72f3861c-038a-45ca-a5ea-12e7f4c58f84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="ebf9f1bc-3525-4579-9990-9ee38a8bd13b")>]

In [36]:
for i in  locations_tags:
    location = i.text
    job_location.append(location)
job_location [0:10]

['Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Navi Mumbai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [37]:
#lets extract company names
companies_tags = driver.find_elements_by_xpath ("//a[@class = 'subTitle ellipsis fleft']")
companies_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="6805a0f4-926f-4c5b-b934-28a61d66d7ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="a900a0c3-c60b-46a3-a595-b2eca1b65c03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="abe512b2-0808-4b72-9c3f-578f2fbd0325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="6e0ec3c8-afb8-4f81-b4bc-b755d77aa33d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="62cde280-c97d-405c-9a1b-dd4e17b156f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="739d69dd-8cf5-43c0-a98b-f0b957716cfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="d0f5da4a-0487-42de-8783-6bd371abac01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="7a9bb27d-ae53-46a1-a582-1dbb6ef4b8c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="ddee4035-b4ec-411b-bf62-1fb45b2700b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="234584fe-abb4-486a-b415-d6705335b377")>]

In [38]:
for i in  companies_tags:
    company = i.text
    company_names.append(company)
company_names [0:10]

['Axis Bank Limited',
 'Corner Stone Solutions',
 'Becton Dickinson India Pvt. Ltd',
 'Wrackle Technologies Pvt Ltd',
 'Fidius advisory',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED',
 'IBM India Pvt. Limited',
 'Sony India Software Center',
 'Visa Inc.']

In [39]:
#lets extract experience required
experiences_tags = driver.find_elements_by_xpath ("//li[@class = 'fleft grey-text br2 placeHolderLi experience']")
experiences_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="79eb3d17-ae05-4509-9451-deac3e9fcc3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="8d96bebc-00e3-47b6-818b-7aac51336c01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="4e602ed6-b416-4620-a257-fa58709d7917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="5eb4b224-ab22-4bbe-94e8-ac24bb0b3628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="cf6ab7f5-c3c0-4052-8e29-74b8ccf64a55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="45a38b99-320a-4d77-94ac-55ff9010add9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="9e8abce1-391c-413f-a088-0d8d09417696")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="88ae27d9-f2fe-423d-9b04-88d2ccdbe517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="ced20555-ba02-4493-bb2b-4a4e285972f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="15663b69-ad9f-4330-98c1-ee3ac697ff3d")>]

In [40]:
for i in experiences_tags:
    experience = i.text
    experience_reqd.append(experience)
experience_reqd [0:10]

['4-9 Yrs',
 '0-1 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '8-13 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '10-15 Yrs',
 '4-9 Yrs',
 '6-10 Yrs']

In [41]:
print (len (job_titles),len (job_location),len (company_names),len (experience_reqd))

20 20 20 20

In [19]:
#importing pandas
jobs = pd.DataFrame ({})
jobs ['TITLE'] = job_titles
jobs ['LOCATION'] = job_location
jobs ['COMPANY'] = company_names
jobs ['EXPERIENCE'] = experience_reqd

In [20]:
jobs

,TITLE,LOCATION,COMPANY,EXPERIENCE
0,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,0-1 Yrs
2,Data Scientist/ Analyst,Bangalore/Bengaluru,Becton Dickinson India Pvt. Ltd,5-10 Yrs
3,Data Scientist - Python/ MATLAB/ Machine Learn...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,3-8 Yrs
4,Principal Data Scientist - Machine/Deep Learni...,Bangalore/Bengaluru,Fidius advisory,8-13 Yrs
5,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,6-11 Yrs
6,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,4-8 Yrs
7,Data Scientist - Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,10-15 Yrs
8,Data Scientist,Bangalore/Bengaluru,Sony India Software Center,4-9 Yrs
9,"Senior Data Scientist, , Data Science",Bangalore/Bengaluru,Visa Inc.,6-10 Yrs
10,Data Scientist/Data Analyst-immediate,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Inflexion Analytix Private Limited,0-2 Yrs
11,Jr. Data Scientist,Bangalore/Bengaluru,TEOCO Software Pvt Ltd,1-3 Yrs
12,Business Consultant Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",StriveX Consulting Pvt. Ltd,2-4 Yrs
13,Senior Data Scientist (Machine Vision solutions),Bangalore/Bengaluru,ONX Software Systems Pvt Ltd,5-9 Yrs
14,Senior Data Scientist/Manager Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,7-12 Yrs
15,Eton Solutions- (A Fintech Company)-Data Scien...,Bangalore/Bengaluru,ETON SOLUTIONS AND TECHNOLOGIES INDIA LLP,7-12 Yrs
16,Hiring Data Scientist with 3+ Years of relevan...,Bangalore/Bengaluru,COURSE5 INTELLIGENCE PRIVATE LIMITED,4-7 Yrs
17,Data Scientist Entry Level,Bangalore/Bengaluru,NeenOpal Intelligent Solutions Pvt. Ltd.,2-4 Yrs
18,Staff Data Scientist,Bangalore/Bengaluru,Walmart Labs,8-10 Yrs
19,Senior Data Scientist - Analytics,Bangalore/Bengaluru,Landmark Online,5-7 Yrs

Q2. You have to scrape the job-title, job-location, company_name, full job-description.

In [42]:
job_descriptions = []

In [43]:
#lets extract job description
descriptions_tags = driver.find_elements_by_xpath ("//div[@class = 'job-description fs12 grey-text']")
descriptions_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="eddce2cc-00c1-4fb8-9747-7809081c91e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="17711edc-8919-4a80-bb8b-5c7b9a2f7dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="c824d1ef-7c7d-4f52-9ef8-0cf96e1a6219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="7fee30e4-989f-4291-a7ac-2fab3c74237a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="27041a57-e38b-41f5-9728-a876bec2a257")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="5d5a51b9-f799-4205-a45f-d86e583d8d86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="3b864c1d-e101-446a-b487-fd2674dabdae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="3b7f4b24-f34a-4bb2-8e3e-8fc39ebea221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="b9b9757b-59b8-4fb0-93f9-018bd5a2f6db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d21ca48c082250bb6f1928b5f18a8b21", element="ead8e027-d134-45de-ad9e-9fb00c68b180")>]

In [44]:
for i in descriptions_tags:
    description = i.text
    job_descriptions.append(description)
job_descriptions [0:10]

['Work from HomeThe candidate should be an expert at analysing large amounts of raw infor...',
 'Looking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred)Flexibility in wo...',
 'Minimum 2 years of relevant work experience PreferredExperience with Python, R, Hadoop,...',
 'BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'Master, Post-graduate or PhD in computer science, machine learning, information retriev...',
 'Must HaveGood to haveHuman Resources experienceAdditional Accenture HR systems experience',
 'Bachelors / Masters degree in Engineering / Technology or MBA from Tier-1 B School orMi...',
 'IntroductionAs a Data Scientist at IBM, you will help transform our clients’ data into ...',
 'Sony is looking for a Data Scientist(Sr. Software Engineer)to analyze large amounts of ...',
 'We are seeking an innovative and analytical thinker to support our Data Science team in...']

In [45]:
print (len (job_descriptions))

20

In [46]:
#importing pandas
jobs = pd.DataFrame ({})
jobs ['TITLE'] = job_titles
jobs ['LOCATION'] = job_location
jobs ['COMPANY'] = company_names
jobs ['EXPERIENCE'] = experience_reqd
jobs ['DESCRIPTION'] = job_descriptions

In [47]:
jobs

,TITLE,LOCATION,COMPANY,EXPERIENCE,DESCRIPTION
0,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs,Work from HomeThe candidate should be an exper...
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,0-1 Yrs,"Looking for IIT, IIIT IISc, NIT, BIT & Equival..."
2,Data Scientist/ Analyst,Bangalore/Bengaluru,Becton Dickinson India Pvt. Ltd,5-10 Yrs,Minimum 2 years of relevant work experience Pr...
3,Data Scientist - Python/ MATLAB/ Machine Learn...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,3-8 Yrs,"BS/ MS/ PhD in Computer Science, Statistics, A..."
4,Principal Data Scientist - Machine/Deep Learni...,Bangalore/Bengaluru,Fidius advisory,8-13 Yrs,"Master, Post-graduate or PhD in computer scien..."
5,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,6-11 Yrs,Must HaveGood to haveHuman Resources experienc...
6,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,4-8 Yrs,Bachelors / Masters degree in Engineering / Te...
7,Data Scientist - Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,10-15 Yrs,"IntroductionAs a Data Scientist at IBM, you wi..."
8,Data Scientist,Bangalore/Bengaluru,Sony India Software Center,4-9 Yrs,Sony is looking for a Data Scientist(Sr. Softw...
9,"Senior Data Scientist, , Data Science",Bangalore/Bengaluru,Visa Inc.,6-10 Yrs,We are seeking an innovative and analytical th...
10,Data Scientist/Data Analyst-immediate,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Inflexion Analytix Private Limited,0-2 Yrs,In case you are trying to shift your career to...
11,Jr. Data Scientist,Bangalore/Bengaluru,TEOCO Software Pvt Ltd,1-3 Yrs,Roles and Responsibilities TEOCO’s Bangalore a...
12,Business Consultant Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",StriveX Consulting Pvt. Ltd,2-4 Yrs,Minimum 3-4 years of experience working closel...
13,Senior Data Scientist (Machine Vision solutions),Bangalore/Bengaluru,ONX Software Systems Pvt Ltd,5-9 Yrs,Senior Data Scientist (Machine Vision solution...
14,Senior Data Scientist/Manager Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,7-12 Yrs,"You should be comfortable managing work plans,..."
15,Eton Solutions- (A Fintech Company)-Data Scien...,Bangalore/Bengaluru,ETON SOLUTIONS AND TECHNOLOGIES INDIA LLP,7-12 Yrs,"Dear Candidate, We have an open position for t..."
16,Hiring Data Scientist with 3+ Years of relevan...,Bangalore/Bengaluru,COURSE5 INTELLIGENCE PRIVATE LIMITED,4-7 Yrs,Bachelors degree in Engineering or equivalentR...
17,Data Scientist Entry Level,Bangalore/Bengaluru,NeenOpal Intelligent Solutions Pvt. Ltd.,2-4 Yrs,Should have strong mathematical background ana...
18,Staff Data Scientist,Bangalore/Bengaluru,Walmart Labs,8-10 Yrs,BE / BTech from a reputed institution Should b...
19,Senior Data Scientist - Analytics,Bangalore/Bengaluru,Landmark Online,5-7 Yrs,Who are we looking for: - Masters degree in Co...

Q3. You have to scrape data using the filters available on the webpage as shown below:
1.The location filter to be used is “Delhi/NCR”
2.The salary filter to be used is “3-6” lakhs
You have to scrape data for “Data Scientist, i.e. the job-title, job-location, company_name, experience_required.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_job = driver.find_element_by_id ('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [5]:
search_btn = driver.find_element_by_xpath("//div [@class ='search-btn']/button")
search_btn.click()