Q4. To scrape data for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [3]:
driver.get("https://www.glassdoor.co.in/sitedirectory/title-jobs.htm")

In [4]:
search_job = driver.find_element_by_id ('sc.keyword')
search_job.send_keys('Data Scientist')
search_loc = driver.find_element_by_xpath ("//input[@id = 'sc.location']")
search_loc.send_keys("Noida")

In [5]:
search_btn = driver.find_element_by_id ('HeroSearchButton')
search_btn.click()

In [21]:
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [7]:
driver.get(url)

In [8]:
job_titles = []
company_name = []
job_posted_on = []
company_rating = []

In [9]:
#lets extract job titles
titles_tags = driver.find_elements_by_xpath ("//a[@class = 'jobLink css-1rd3saf eigr9kq2']")
titles_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="6ab16b59-d9c8-49d3-9b6d-05abb7938ff0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="617e818d-2044-4784-9a06-8d96a6b508f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="153985a2-96fd-4531-8e3c-42261dd61ede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="3d190f41-258e-44f1-8bd6-ebeb508375da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="c1fe0079-63e0-427a-89b0-924baaef1481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="ad891921-b085-41d6-ada8-09145c8e6f93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="796ccf2a-08ec-42b8-9d5b-6984ce3ba4c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="7b8012a7-7e3a-4058-ae55-429efb50325c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="f4deefd5-7bee-4cac-a814-e11ca3e1ffe2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="145a5e8d-c30b-47e2-9ec5-b5453ad128a6")>]

In [10]:
for i in  titles_tags:
    title = i.text
    job_titles.append(title)
job_titles [0:10]

['Data Analyst',
 'Data Analyst',
 'Data Scientist',
 '',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Predictive Modelling, Time Series Forecasting - Gurgaon',
 'Data Analyst/Scientist',
 'Machine Learning Engineer/ Data Scientist',
 'Data Scientist']

In [11]:
#lets extract company names
companies_tags = driver.find_elements_by_xpath ("//div[@class = 'd-flex justify-content-between align-items-start']")
companies_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="94092fd7-6f45-4a67-b99d-79b36c4d49e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="644efd83-659f-4861-8e9a-42fed55c9bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="50fe5365-23c1-4f25-bcad-b481bab733c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="b3a567b4-a3d8-48de-a4fc-bfddc47559e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="0551a8aa-d9b8-4990-b239-a8e31140f2c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="5795dbf6-2004-419a-beb2-83bf6ce47e64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="2679ef35-01d2-4e9b-9c3d-baef54625bbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="696b9c2a-5f81-482a-94d6-367cb92048ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="5d459d60-c359-45ec-81ca-043e0f58cea3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="33029f75-3c09-4ea5-a5fb-a70f9507180a")>]

In [12]:
for i in  companies_tags:
    company = i.text
    company_name.append(company)
company_name [0:10]

['Ericsson-Worldwide',
 'Elsevier',
 'Biz2Credit Inc',
 'WSD Consultant',
 'Adobe',
 'xtLytics',
 'UnitedHealth Group',
 'itForte',
 'DÃ¼rr Somac GmbH',
 'abc consultants']

In [13]:
#lets extract job posted on
posted_tags = driver.find_elements_by_xpath ("//div[@class = 'd-flex align-items-end pl-std css-mi55ob']")
posted_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="c67f9209-bcac-4283-8c60-e2f49adcbf65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="67944c4d-b4c0-402c-8232-9758bc5bac52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="db352e2a-edd6-4221-a26f-f69428f01c76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="7a579b97-6d2f-40c4-b49d-9fc5768737ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="1545166e-d6fa-4852-b719-f49ac99344d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="2bc12da3-13df-479f-91c2-c096f6a51ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="1524a092-f196-4031-8ec2-7cc0eeb0f16a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="a59f1416-a80f-429f-b645-8546ab019879")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="a7416a8d-90b8-48d6-9493-4c141c8ccb1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="cc223104-c6d8-4465-a81b-1adc646d7f79")>]

In [14]:
for i in  posted_tags:
    post = i.text
    job_posted_on.append(post)
job_posted_on [0:10]

['1d', '6d', '1d', '24h', '8d', '7d', '27d', '20d', '12d', '21d']

In [15]:
#lets extract company ratings
rating_tags = driver.find_elements_by_xpath ("//span[@class = 'css-19pjha7 e1cjmv6j1']")
rating_tags [0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="13285deb-e09c-44a5-86ac-d96f9136e632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="9b764e01-0c03-49d1-b2e9-d1d41e0e6e04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="7aa5516e-d8ca-432e-b1f2-7882b1491f73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="11453ee5-75cc-4400-a09d-1b7ed09b9368")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="22afb87f-47d2-490e-b7f5-49f39232d871")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="3a598695-9813-4099-ad78-ba050a0c2bcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="520d4b47-b6c1-4cda-a7ba-185124fbb39f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="860a9652-5d7f-4ee5-ad90-572434d74a6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="3bba318d-44c0-463e-8514-93e5d2db5e40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14722a4ce95c16a5496521c20eac5e79", element="12a251e3-8aec-4318-9436-f1af059b5675")>]

In [16]:
for i in  rating_tags:
    ratings = i.text
    company_rating.append(ratings)
company_rating [0:10]

['4.1', '4.3', '3.8', '4.4', '3.0', '3.6', '5.0', '4.2', '3.7', '4.8']

In [17]:
print (len (job_titles),len (company_name),len (job_posted_on),len (company_rating))

32 32 32 26

In [19]:
#importing pandas
jobs = pd.DataFrame ({})
jobs ['TITLE'] = job_titles
jobs ['COMPANY'] = company_name
jobs ['POSTED ON'] = job_posted_on
jobs ['COMPANY RATING'] = company_rating

In [20]:
jobs

,TITLE,COMPANY,POSTED ON
0,Data Analyst,Ericsson-Worldwide,1d
1,Data Analyst,Elsevier,6d
2,Data Scientist,Biz2Credit Inc,1d
3,,WSD Consultant,24h
4,Data Scientist,Adobe,8d
5,Data Scientist,xtLytics,7d
6,"Data Scientist - Predictive Modelling, Time Se...",UnitedHealth Group,27d
7,Data Analyst/Scientist,itForte,20d
8,Machine Learning Engineer/ Data Scientist,DÃ¼rr Somac GmbH,12d
9,Data Scientist,abc consultants,21d
10,Data Scientist,Priority Vendor,20d
11,Data Scientist,Healtheoz India,20d
12,Data Scientist,Ciena,27d
13,Machine Learning Engineer/ Data Scientist,DÃ¼rr IT Services India,12d
14,Data Scientist,WishFin,4d
15,Data Scientist,Salasar New Age Technologies,5d
16,Data Scientist,Gauge Data Solutions,20d
17,Data Scientist,Techlive,27d
18,Data Scientist,IBM,7d
19,Data Scientist II,NCR,7d
20,Data Scientist,Team Computers,8d
21,Data Scientist 2,Microsoft,12d
22,Jr. Data Scientist,xtLytics,7d
23,Data Scientist,NatWest Group,9d
24,Data Scientist,SearchUrCollege,20d
25,Data Scientist,Profisor Services,20d
26,Data Scientist - AI/ML Specialist,ANI Calls India Private Limited,17d
27,Urgent Hiring for Data Scientist Position(Exp ...,Unyscape Infocom Pvt. Ltd,24h
28,Data Scientist,Analytics Vidhya,20d
29,Data Scientist,Srijan Technologies Pvt Ltd,26d
30,Data Scientist,Mahajan Imaging,20d
31,Data Analyst/ Scientist,ANI Calls India Private Limited,26d

Q5. Scrape the min salary, max salary, company name, Average salary and rating of the company.

In [27]:
#connecting to webdriver
driver = webdriver.Chrome(r"C://chromedriver.exe")

In [28]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [29]:
search_job = driver.find_element_by_id ('KeywordSearch')
search_job.send_keys('Data Scientist')
search_loc = driver.find_element_by_xpath ("//input[@id = 'LocationSearch']")
search_loc.send_keys("Noida")

In [30]:
search_btn = driver.find_element_by_id ('HeroSearchButton')
search_btn.click()

In [31]:
url = "https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [32]:
driver.get(url)

In [33]:
job_titles = []
company_name = []
max_salary = []
min_salary = []
avg_salary = []
company_rating = []